// IMPORTS ************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import "variables";

/* ESTILOS GLOBALES ***************************************************************************************************/

html {
  max-width: $max-width;
  margin: 0 auto;
}

body {
  font: $cuerpo;
  color: $default-foreground;
  margin: 0.5em;
  @include fuente-titulos;
}

@media (max-width: 768px) {
  body {
    margin: $default-margin;
  }
}

a {
  text-decoration: none;
  color: $default-foreground;
}

/* HEADER *************************************************************************************************************/

header {
  text-align: center;
  background-color: $default-background;
  padding: 0.5em;

  img {
    width: 10%;
    float: left;
  }

  h1 {
    width: 90%;
    color: color-aleatorio("red");
  }

  h2 {
    width: 90%;
    color: color-aleatorio("green");
  }

  @media (max-width: 768px) {
    img {
      width: 5em;
      float: none;
    }
    h1,
    h2 {
      float: none;
      width: 100%;
    }
  }
}

/* NAV ****************************************************************************************************************/

nav {
  background-color: $default-background;
  padding: 0.1em;
  margin: $separador-margin;
  text-align: center;
  text-transform: uppercase;

  ul {
    @include lista-horizontal;

    a {
      font-weight: map-get($font-weights, "regular");

      &:hover {
        text-decoration: underline;
        font-weight: map-get($font-weights, "bold");
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    margin: $default-margin;
  }

  ul li {
    width: 100%;
  }
}

/* SECTION ************************************************************************************************************/

section {
  margin: $separador-margin;

  article {
    width: 33%;
    display: inline-block;
    min-height: 16em;

    img {
      width: 25%;
      float: left;
      padding: 0 1em 0 0;
    }

    div {
      width: 65%;
      float: left;
      padding: 1em 1em 0 0;
    }
  }

  @include fondo-article;

  @media (max-width: 992px) {
    article {
      width: 49.7%;
    }
  }

  @media (max-width: 768px) {
    article {
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  section {
    margin: $default-margin;
  }
}

/* FOOTER *************************************************************************************************************/

footer {
  margin: $separador-margin;
  text-align: center;

  div {
    background-color: $default-background;
    padding: 0.2em 0 0 0;

    img {
      width: 3em;
    }
  }

  p {
    margin: $separador-margin;
    background-color: $default-background;
    padding: 0.1em 0;
    font: map-get($font-weights, "light") map-get($font-sizes, quote(#{&}))
      $font-family;

    & a:hover {
      text-decoration: underline;
      font-weight: map-get($font-weights, "bold");
    }
  }
}

@media (max-width: 768px) {
  footer {
    margin: $default-margin;

    p {
      margin: $default-margin;
    }
  }
}
