* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 23px;
}
body {
  background: linear-gradient(100deg, rgb(191, 79, 181), royalblue);
  color: aliceblue;
}
.navbar {
  padding: 15px;
  position: flex;
  margin: 25px;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  background: linear-gradient(100deg, rgb(153, 39, 144), rgb(53, 97, 227));
  margin-top: 65px;
}
.separate-div-1,
.separate-div-2,
.separate-div-3,
.separate-div-4,
.separate-div-5 {
  padding: 15px;
  position: flex;
  margin: 25px;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  background: linear-gradient(100deg, rgb(153, 39, 144), rgb(53, 97, 227));
}
.separate-div-3 input,
.separate-div-3 button {
  font-size: 10px;
  padding: 5px;
  box-sizing: border-box; /* Incluye el padding en el ancho y alto */
  display: inline-block;
}

.separate-div-4 img {
  height: auto;
  display: block;
  width: 100%;
}
ul {
  margin-right: 35px;
}

ul,
.social-icons {
  list-style: none;
  display: inline-flex;
  align-items: center;
  margin-left: 75;
  column-gap: 75px;
}
a:hover,
i:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
li {
  margin-bottom: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  #menu-toggle,
  .menu-icon,
  .logo {
    display: none; /* Oculta el checkbox de forma predeterminada */
  }

  ul {
    margin-top: 10px;
    list-style: none;
    display: grid; /* Cambia a un diseño de cuadrícula */
    grid-template-columns: repeat(2, 1fr); /* 3 columnas */
    grid-gap: 15px; /* Espacio entre elementos */
    text-align: center;
  }

  li {
    margin-bottom: 15px;
  }

  a,
  i {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 3px;
    transition: background-color 0.3s ease;
  }

  a:hover,
  i:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  span {
    margin-left: 5px;
  }

  .social-icons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 499px) {
  .navbar {
    position: relative;
  }
}
@media screen and (min-width: 801px) {
  #menu-toggle,
  .menu-icon,
  .logo {
    display: none; /* Oculta el checkbox de forma predeterminada */
  }
}
