* {
  margin: 0;
  padding: 0;
}
.header {
  width: 600px;
  height: 150px;
  border: 2px solid black;
  position: relative;
  margin: 250px auto;
  background-color: rgb(209, 209, 220);
}

.logo {
  padding-left: 10px;
  position: absolute;
  border: 2px solid black;
  top: 20px;
  left: 20px;
  width: 220px;
  height: 60px;
  background-color: #e0f1f3;
}

.top-nav {
  padding-left: 10px;
  position: absolute;
  border: 2px solid black;
  top: 20px;
  left: 420px;
  width: 150px;
  height: 25px;
  background-color: #e2beec;
}

.menu {
  padding-left: 10px;
  position: absolute;
  border: 2px solid black;
  bottom: 20px;
  left: 230px;
  width: 340px;
  height: 25px;
  background-color: #f6f7c1;
}
