* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  background-color: rgb(20, 20, 20);
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgb(64, 255, 47);
}

.header a:hover {
  color: white;
}

.header a.active {
  color: darkgray;
}

.header-right {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

h1,
p {
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 5%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

table {
  display: table;
  width: 100%;
}

.span {
  width: 35px;
  height: 5px;
  background-color: rgb(64, 255, 47);
  margin: 6px 0;
}
