@import url("https://fonts.googleapis.com/css?family=Calistoga|Roboto:400,700&display=swap");
.fondo-cuerpo-light {
  background-color: #000;
}

.color-cuerpo-light {
  color: #000;
}

.fondo-destacado-light {
  background-color: #fff;
}

.color-destacado-light {
  color: #fff;
}

.fondo-header-light {
  background-color: #4e6379;
}

.color-header-light {
  color: #4e6379;
}

.fondo-nav-light {
  background-color: #ddc3d2;
}

.color-nav-light {
  color: #ddc3d2;
}

.fondo-section-light {
  background-color: rgba(191, 201, 51, 0.14);
}

.color-section-light {
  color: rgba(191, 201, 51, 0.14);
}

.fondo-article-light {
  background-color: rgba(12, 121, 39, 0.08);
}

.color-article-light {
  color: rgba(12, 121, 39, 0.08);
}

.fondo-aside-light {
  background-color: rgba(79, 195, 247, 0.18);
}

.color-aside-light {
  color: rgba(79, 195, 247, 0.18);
}

.fondo-footer-light {
  background-color: rgba(150, 34, 30, 0.42);
}

.color-footer-light {
  color: rgba(150, 34, 30, 0.42);
}

.fondo-enlace-light {
  background-color: #4e6379;
}

.color-enlace-light {
  color: #4e6379;
}

.fondo-body-light {
  background-color: #fff;
}

.color-body-light {
  color: #fff;
}

.fondo-cuerpo-dark {
  background-color: #fff;
}

.color-cuerpo-dark {
  color: #fff;
}

.fondo-destacado-dark {
  background-color: #000;
}

.color-destacado-dark {
  color: #000;
}

.fondo-header-dark {
  background-color: #d2dde9;
}

.color-header-dark {
  color: #d2dde9;
}

.fondo-nav-dark {
  background-color: #e42695;
}

.color-nav-dark {
  color: #e42695;
}

.fondo-section-dark {
  background-color: rgba(39, 41, 8, 0.87);
}

.color-section-dark {
  color: rgba(39, 41, 8, 0.87);
}

.fondo-article-dark {
  background-color: rgba(12, 121, 39, 0.884);
}

.color-article-dark {
  color: rgba(12, 121, 39, 0.884);
}

.fondo-aside-dark {
  background-color: rgba(79, 194, 247, 0.925);
}

.color-aside-dark {
  color: rgba(79, 194, 247, 0.925);
}

.fondo-footer-dark {
  background-color: rgb(150, 34, 30);
}

.color-footer-dark {
  color: rgb(150, 34, 30);
}

.fondo-enlace-dark {
  background-color: #d2dde9;
}

.color-enlace-dark {
  color: #d2dde9;
}

.fondo-body-dark {
  background-color: #000;
}

.color-body-dark {
  color: #000;
}

body {
  font: 400 1rem "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 600px;
}

h1 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
}

h2 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
}

h3 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
}

h4 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
}

h5 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
}

header {
  padding: 1rem;
  display: flex;
}
header img {
  height: 8rem;
}
header div {
  text-align: center;
  width: 90%;
  padding: 1rem 0 0 0;
}
header p {
  margin: 0;
}
header p span {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin: 0.5rem 0 0 0;
  text-align: center;
  justify-content: space-between;
}
nav ul li {
  padding: 0;
  margin: 0;
}
nav ul li {
  width: 12%;
  padding: 1rem 0;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  font-weight: 700;
}

div.contenedor {
  display: flex;
}

section {
  width: 69%;
  margin: 0.5rem 1% 0 0;
  padding: 1% 1% 0 1%;
}
section article {
  margin: 0 0 0.5rem 0;
  padding: 1rem;
}
section article img {
  height: 7rem;
  float: left;
}
section article div {
  text-align: center;
  height: 7rem;
}
section article div h3 {
  margin: 0;
  padding-top: 2.5rem;
}
section article div h4 {
  margin: 0;
}
section article p {
  margin: 1rem 0 0 0;
}

aside {
  width: 26%;
  padding: 1%;
  margin: 0.5rem 0 0 0;
}

footer {
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  text-align: center;
}/*# sourceMappingURL=style_scss.css.map */