.navbar {
  width: 90%;
}
/*

body {
  width: 90%;
}
.custom-search-input {
  width: 450px;
}
.custom-search-input {
  position: relative;
}
.custom-search-input i {
  position: absolute;
  left: 25em;
  top: 50%;
  transform: translateY(-50%);
  color: #787879;
  cursor: pointer;
}

.form-control {
  padding-left: 30px;
}
.nav-item {
  margin-right: 10px; 
}
.nav-item span {
  font-family: Arial, Helvetica, sans-serif;
  color: #808080; 
}
*/
