* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(203, 205, 208);
}
.card {
  border: 0 !important;
  box-shadow: 0 9px 7px -1px rgba(11, 11, 11, 0.1),
    0 2px 20px -1px rgba(11, 11, 11, 0.06);
}
.text {
  font-size: 18px;
  font-family: Arial;
  color: #7e63f9;
  text-transform: uppercase;
}

.row {
  margin-right: 300px;
}

.more-info {
  color: #221367;
  text-decoration: underline;
  font-size: 20px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: -1rem;
  margin-top: 3rem;
  text-align: center;
}

h5 {
  font-family: "Open Sans", sans-serif;
}

.card {
  width: 400%;
}
.container {
  padding-right: 80px;
}
.card-body {
  padding: 0.75rem;
}
