div {
  margin: 15px;
}

.E {
  background-color: #3498db;
  color: white;
  text-align: center;

  border: 2px solid #2980b9;
}
.F {
  background-color: #3498db;
  color: white;
  text-align: center;

  border: 2px solid #2980b9;
}

.A {
  background-color: #3498db;
  color: white;
  text-align: center;
  border: 2px solid #2980b9;
}
.B {
  background-color: #3498db;
  color: white;
  text-align: center;
  border: 2px solid #2980b9;
}
.C {
  background-color: #3498db;
  color: white;
  text-align: center;
  border: 2px solid #2980b9;
}
.D {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 60px;
  border: 2px solid #2980b9;
}
