.container-a {
  position: relative;
}
.container-b {
  width: 400px;
  margin: 0 auto;
  border: 3px solid darkgray;
  position: relative;
}

.container div {
  margin: 10px;
  border: 1px solid orangered;
}
.child-2 {
  background-color: blue;
}
.child-1 {
  background-color: aquamarine;
}
.child-3 {
  position: relative;
  background-color: rgb(255, 127, 221);
}
.child-1::first-line {
  width: 50px;
  text-decoration: dashed;
  font-weight: bold;
  color: lightcoral;
}
