* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*Nav */
.margen-logo {
  background-color: rgb(240, 240, 240);
  margin: 2rem;
  padding: 10px;
  height: 90px;
}

.menu-icon {
  align-items: center;
  text-align: center;
  display: flex;
}
.menu-icon img {
  cursor: pointer;
}
#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .navbar {
  display: grid;
}

input {
  font-size: 10px;
  padding: 5px;
  display: inline-block;
}

/* search-input */
.custom-search-input {
  width: 450px;
  position: relative;
  left: 14em;
  bottom: 95px;
}
.form-control {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
}
.fas.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/*navbar*/
.navbar {
  display: none;
  position: absolute;
  top: 4.6rem;
  left: 2.7em;
  width: 15rem;
  background-color: rgb(8, 8, 8);
  height: 100%;
}
ul,
.social-icons {
  list-style: none;
  display: inline;
  margin-bottom: 280px;
}

.fa-solid {
  text-decoration: none;
  margin-right: 15px;
  padding: 3px;
  transition: background-color 0.3s ease;
  color: #fff;
}
li {
  margin-bottom: 15px;
}

.nav-link-2 {
  color: #fff;
  text-decoration: none;
}
.nav-link-2:hover,
.fa:hover,
li:hover {
  background-color: rgb(255, 51, 163);
  width: 10rem;
}
/**/
.copyright {
  font-size: small;
  text-align: center;
  color: #fff;
}
