* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  background-color: #f3f3f3;
}
/*menu principal*/
.btn-menu {
  height: 6rem;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 4px 6px 1px rgba(42, 42, 42, 0.1),
    0 2px 4px 1px rgba(138, 136, 136, 0.1);
}
.custom-search-input {
  position: relative;
}

.iconos {
  position: absolute;
  top: 0;
}
.logo-menu {
  background-color: #e21d72;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 4px;
  height: 1rem;
  width: 1.1rem;
  margin-left: 0.5rem;
  margin-top: -0.2rem;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  /*menu principal*/

  .custom-search-input {
    width: 200px;
    position: relative;
    left: 8em;
    bottom: 90px;
  }

  .fas.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .iconos {
    font-size: 15px;
    margin-left: 25rem;
    top: 2rem;
  }

  /*menu flex*/
  #btn-menu {
    display: none;
  }
  .container-menu {
    padding: 18px;
    position: flex;
    margin: 12px;
    align-items: center;
    text-align: center;
    background-color: #000;
    margin-top: 3px;
  }
  .cont-menu a {
    text-decoration: none;
    padding: 23px;
    color: #ffffff;
  }
  .cont-menu a:hover {
    border-left: 4px solid #e21d72;
    background: #e21d72;
  }
  .cont-menu label {
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  .copyright {
    display: none;
  }
  .card {
    margin-top: -12px;
  }
  /* Capa 2*/

  .capa-2 {
    height: 4rem;
    background-color: rgb(220, 217, 217);
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px 1px rgba(42, 42, 42, 0.1),
      0 2px 4px 1px rgba(138, 136, 136, 0.1);
  }

  .hotel {
    font-size: 18px;
    color: rgb(108, 106, 106);
  }
  .underlined {
    text-decoration: underline;
    color: #e21d72;
    font-size: 12px;
  }
  .badge {
    font-size: 12px;
    height: 4rem;
    margin-right: -3rem;
    padding: 1rem;
    margin-top: 8px;
    border-radius: 0%;
    background-color: #e21d72;
  }

  /*Sectiones-1*/

  .section-1 {
    margin-left: 2rem;
    background-color: rgb(220, 217, 217);
    width: 90%;
    font-size: 14px;
  }
  .footer {
    padding: 3rem;
    border-top: 1px solid #b3b3b3;
  }
  .nav {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .d-imgs {
    display: flex;
    margin-left: 25px;
  }

  .d-imgs img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: -2rem;
    border: 2px solid #fdf2e9;
  }

  /*Seccion 2*/

  .section-2 {
    width: 90%;
    height: 28%;
    right: 2rem;
    top: 63rem;
    background-color: rgb(220, 217, 217);
  }
  .imgs-2 {
    display: block;
  }

  .imgs-2 img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 95rem;
  }
  .cliente {
    top: 10rem;
    font-size: small;
    color: #717070;
    margin-left: 7rem;
  }

  .puntuacion {
    margin-top: -7rem;
    margin-left: 30rem;
    font-size: x-large;
    color: #e21d72;
  }
  .nombre {
    right: -7rem;
    top: -6rem;
  }
  .comillas {
    font-size: 50px;
    font-weight: bold;
    padding: 3px 6px;
    height: 1.3rem;
    width: 1.5rem;
    margin-top: -4rem;
    margin-left: -1rem;
  }

  /*Seccion 3*/
  .section-3 {
    width: 90%;
    height: 28%;
    right: 2rem;
    top: 80rem;
    background-color: rgb(220, 217, 217);
  }

  /*link*/
  .more-info:link,
  .more-info:visited {
    color: #e21d72;
    top: 99rem;
    font-size: large;
    text-decoration: underline;
    left: 20rem;
  }

  .more-info:hover,
  .more-info:active {
    text-decoration: none;
  }

  /*Book*/

  .BOOK {
    background: linear-gradient(100deg, #e21d72, rgb(211, 90, 90));
    color: #fff;
    height: 3rem;
    width: 13rem;
    margin-left: 6rem;
    margin-top: 2rem;
    font-size: 15px;
    border-radius: 50px;
  }
  .Good {
    text-align: center;
    color: #717070;
    margin-top: 75rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .custom-search-input {
    width: 400px;
    position: relative;
    left: 10em;
    bottom: 90px;
  }

  .fas.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .iconos {
    font-size: 15px;
    margin-left: 40rem;
    top: 2rem;
  }

  /*menu flex*/
  #btn-menu {
    display: none;
  }
  .container-menu {
    padding: 18px;
    position: flex;
    margin: 12px;
    align-items: center;
    text-align: center;
    background-color: #000;
    margin-top: 3px;
  }
  .cont-menu a {
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
  }
  .cont-menu a:hover {
    border-left: 4px solid #e21d72;
    background: #e21d72;
  }
  .cont-menu label {
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  .copyright {
    display: none;
  }
  .card {
    margin-top: -12px;
  }
  /* Capa 2*/

  .capa-2 {
    height: 4rem;
    background-color: rgb(220, 217, 217);
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px 1px rgba(42, 42, 42, 0.1),
      0 2px 4px 1px rgba(138, 136, 136, 0.1);
  }

  .hotel {
    font-size: 25px;
    color: rgb(108, 106, 106);
  }
  .underlined {
    text-decoration: underline;
    color: #e21d72;
    font-size: 15px;
  }
  .badge {
    font-size: 12px;
    height: 4rem;
    margin-right: -3rem;
    padding: 1rem;
    margin-top: 8px;
    border-radius: 0%;
    background-color: #e21d72;
  }

  /*Sectiones-1*/

  .section-1 {
    margin-left: 2rem;
    background-color: rgb(220, 217, 217);
    width: 55%;
    height: 85%;
    font-size: 13px;
  }
  .footer {
    padding: 3rem;
    border-top: 1px solid #b3b3b3;
  }
  .nav {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .d-imgs {
    display: flex;
    margin-left: -37px;
  }

  .d-imgs img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: -2rem;
    border: 2px solid #fdf2e9;
  }

  /*Seccion 2*/

  .section-2 {
    font-size: 13px;
    width: 23%;
    margin-bottom: -10rem;
    right: 8rem;
    background-color: rgb(220, 217, 217);
  }
  .imgs-2 {
    display: flex;
  }

  .imgs-2 img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 80px;
    margin-bottom: 2rem;
  }
  .cliente {
    margin-top: 4rem;
    font-size: small;
    color: #717070;
    margin-left: 6rem;
  }

  .puntuacion {
    margin-top: -7rem;
    margin-left: 10rem;
    font-size: large;
    color: #e21d72;
  }
  /*Seccion 3*/
  .section-3 {
    font-size: 13px;
    width: 23%;
    top: 48rem;
    right: 8rem;
    background-color: rgb(220, 217, 217);
  }
  .nombre {
    left: -4rem;
  }
  .comillas {
    font-size: 50px;
    font-weight: bold;
    padding: 3px 6px;
    height: 1.3rem;
    width: 1.5rem;
    margin-top: -4rem;
    margin-left: -1rem;
  }

  /*link*/
  .more-info:link,
  .more-info:visited {
    color: #e21d72;
    top: 70rem;
    display: inline-block;
    left: 40rem;
    font-size: medium;
    text-decoration: underline;
  }

  .more-info:hover,
  .more-info:active {
    text-decoration: none;
  }

  /*Book*/

  .BOOK {
    background: linear-gradient(100deg, #e21d72, rgb(211, 90, 90));
    color: #fff;
    padding: 10px 25px;
    height: 3rem;
    width: 7rem;
    margin-left: 35rem;
    margin-top: 2rem;
    font-size: 10px;
    border-radius: 50px;
    position: relative;
  }
  .Good {
    font-size: 13px;
    color: #787777;
    margin-top: 3rem;
    margin-left: 49rem;
  }
}
@media screen and (min-width: 993px) {
  /*menu principal*/
  .btn-menu {
    height: 6rem;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 6px 1px rgba(42, 42, 42, 0.1),
      0 2px 4px 1px rgba(138, 136, 136, 0.1);
  }
  .custom-search-input {
    width: 600px;
    position: relative;
    left: 18em;
    bottom: 90px;
  }

  .fas.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .iconos {
    font-size: 18px;
    margin-left: 69rem;
    top: 2rem;
  }

  .logo-menu {
    background-color: #e21d72;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 6px;
    height: 1.3rem;
    width: 1.5rem;
    margin-left: 0.9rem;
    margin-bottom: -0.9rem;
    border-radius: 50%;
  }
  /*Menù lateral*/
  #btn-menu {
    display: none;
  }

  .container-menu {
    position: absolute;
    top: 9rem;
    left: 0.8rem;
    width: 90%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  #btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
  }
  .cont-menu {
    width: 20%;
    background: #191919;
    height: 70rem;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  #btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
  }

  .cont-menu a {
    display: block;
    text-decoration: none;
    padding: 30px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  .cont-menu a:hover {
    border-left: 4px solid #e21d72;
    background: #e21d72;
  }
  .cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  .fa-solid {
    text-decoration: none;
    margin-right: 15px;
    padding: 3px;
    transition: background-color 0.3s ease;
    color: #fff;
  }
  .copyright {
    font-size: small;
    margin-top: 45rem;
    text-align: center;
    color: #fff;
  }

  /* Capa 2*/

  .capa-2 {
    height: 4rem;
    background-color: rgb(220, 217, 217);
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px 1px rgba(42, 42, 42, 0.1),
      0 2px 4px 1px rgba(138, 136, 136, 0.1);
  }

  .hotel {
    color: rgb(108, 106, 106);
  }
  .underlined {
    text-decoration: underline;
    color: #e21d72;
  }
  .badge {
    font-size: 15px;
    height: 4rem;
    margin-right: -3rem;
    padding: 1rem;
    margin-top: 8px;
    border-radius: 0%;
    background-color: #e21d72;
  }

  /*Sectiones-1*/

  .section-1 {
    margin-left: 10rem;
    background-color: rgb(220, 217, 217);
    width: 50%;
    font-size: 14px;
    padding: 3rem;
  }
  .footer {
    padding: 3rem;
    border-top: 1px solid #b3b3b3;
  }
  .nav {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .d-imgs {
    display: flex;
  }

  .d-imgs img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: -2rem;
    border: 2px solid #fdf2e9;
  }

  /*Seccion 2*/

  .section-2 {
    width: 17%;
    margin-bottom: -10rem;
    right: 11rem;
    background-color: rgb(220, 217, 217);
  }
  .imgs-2 {
    display: flex;
  }

  .imgs-2 img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 80px;
    margin-bottom: 2rem;
  }
  .cliente {
    margin-top: 4rem;
    font-size: small;
    color: #717070;
    margin-left: 6rem;
  }

  .puntuacion {
    margin-top: -7rem;
    margin-left: 10rem;
    font-size: large;
    color: #e21d72;
  }
  /*Seccion 3*/
  .section-3 {
    width: 17%;
    top: 52rem;
    right: 11rem;
    background-color: rgb(220, 217, 217);
  }
  .nombre {
    left: -4rem;
  }
  .comillas {
    font-size: 50px;
    font-weight: bold;
    padding: 3px 6px;
    height: 1.3rem;
    width: 1.5rem;
    margin-top: -4rem;
    margin-left: -1rem;
  }

  /*link*/
  .more-info:link,
  .more-info:visited {
    color: #e21d72;
    top: 76rem;
    display: inline-block;
    left: 73rem;
    font-size: large;
    text-decoration: underline;
  }

  .more-info:hover,
  .more-info:active {
    text-decoration: none;
  }

  /*Book*/

  .BOOK {
    position: relative;
    background: linear-gradient(100deg, #e21d72, rgb(122, 26, 93));
    color: #fff;
    padding: 10px 25px;
    height: 3rem;
    width: 8rem;
    left: 61rem;
    margin-top: 6rem;
    font-size: 10px;
    border-radius: 50px;
  }
  .Good {
    font-size: 15px;
    color: #787777;
    margin-top: 3rem;
    margin-left: 86rem;
  }
}
