@use "sass:color";

@mixin color-box($color) {
  color: $color;
  background-color: rgba($color, 0.15);
  border: 1px solid color.scale($color, $lightness: -10%);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
