* {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
}
.container {
  margin: 90px;
  display: grid;
  grid-template-columns: 60px 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "x x x  y"
    "x x x  y"
    "z z . ."
    "z z   m m "
    "z z  m m "
    "z z  m m "
    "z z  m m "
    "z z  m m"
    "z z  m m "
    "z z . . ";
  grid-gap: 40px;
}

.item {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  align-content: space-around;
}

.A {
  grid-area: x;
  color: aliceblue;
  background-color: rgb(31, 29, 29);
}

.B {
  grid-area: y;
  color: aliceblue;
  background-color: rgb(31, 29, 29);
}

.C {
  grid-area: z;
  color: aliceblue;
  background-color: rgb(31, 29, 29);
}

.D {
  grid-area: m;
  background-color: rgb(31, 29, 29);
  display: grid;

  grid-template-areas:
    "e  . f f "
    "e  .  . g "
    "e  .  . g"
    "e  .  . g "
    "e  .  . g"
    "e .  .  g"
    "e  . .  g"
    "e . .  g";
}

.E {
  grid-area: e;
  color: rgb(10, 10, 10);
  background-color: rgb(186, 186, 223);
}

.F {
  grid-area: f;
  color: rgb(4, 5, 5);
  background-color: rgb(186, 186, 223);
}

.G {
  grid-area: g;
  color: rgb(5, 5, 6);
  background-color: rgb(186, 186, 223);
}
