body {
  margin: 0em;
  font-family: "Noto Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
}

.cover {
  height: 400px;
  background-image: url(rsz_karl-fredrickson-tyizeciz_60-unsplash.jpg);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0, 5);
  background-blend-mode: darken;
}
.cover-small {
  height: 200px;
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(250, 214, 214, 0.1),
    0 2px 4px -1px rgba(211, 129, 129, 0.06);
}
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}
.product-stripe,
.slider {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.stripe-container,
.slider-container {
  display: flex;
}
.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider {
  overflow-x: hidden;
}
.slider-container {
  transform: translateX(0);
  animation: slider 20s infinite;
}
.imagen-container {
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.avatar {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin: 0 auto;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-200%);
  }
  65% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  85% {
    transform: translateX(-400%);
  }
  95% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}
